@import 'tailwindcss';

:root {
    /* COLORS */
    --color-purple: #443383;
    --color-pink: #ea4c81;

    /* FONTS */
    --font-size-preset-1: 5.5rem;
    --font-size-preset-1-mobil: 2.5rem;
    --font-size-preset-1-tablet: 4rem;
    --font-size-preset-2: 4rem;
    --font-size-preset-3: 2.5rem;
    --font-size-preset-4: 1.25rem;
    --font-size-preset-5-bold: 1rem;
    --font-size-preset-5: 1rem;
    --font-size-preset-6: 1.125rem;
    --line-height-preset-1: 100%;
    --line-height-preset-2: 100%;
    --line-height-preset-3: 110%;
    --line-height-preset-4: 150%;
    --line-height-preset-5-bold: 150%;
    --line-height-preset-5: 150%;
    --line-height-preset-6: 180%;
    --letter-spacing-preset-1: -1px;
    --letter-spacing-preset-2: 0px;
    --letter-spacing-preset-3: 0px;
    --letter-spacing-preset-4: 0px;
    --letter-spacing-preset-5-bold: 0px;
    --letter-spacing-preset-5: 0px;
    --letter-spacing-preset-6: 0px;
}

@theme {
    --color-custom-purple: var(--color-purple);
    --color-custom-cyan: var(--color-pink);
}

/* FONTS */

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('/public/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('/public/fonts/Raleway-Italic-VariableFont_wght.ttf')
        format('truetype');
    font-weight: 400;
    font-style: italic;
}

@layer components {
    @media (min-width: 365px) {
        .text-preset-1 {
            font-size: var(--font-size-preset-1-mobil);
            line-height: var(--line-height-preset-1);
            letter-spacing: var(--letter-spacing-preset-1);
            font-weight: bold;
        }
    }

    @media (min-width: 768px) {
        .text-preset-1 {
            font-size: var(--font-size-preset-1-tablet);
            line-height: var(--line-height-preset-1);
            letter-spacing: var(--letter-spacing-preset-1);
            font-weight: bold;
        }
    }

    @media (min-width: 1024px) {
        .text-preset-1 {
            font-size: var(--font-size-preset-1);
            line-height: var(--line-height-preset-1);
            letter-spacing: var(--letter-spacing-preset-1);
            font-weight: bold;
        }
    }
    .text-preset-2 {
        font-size: var(--font-size-preset-2);
        line-height: var(--line-height-preset-2);
        letter-spacing: var(--letter-spacing-preset-2);
        font-weight: bold;
    }
    .text-preset-3 {
        font-size: var(--font-size-preset-3);
        line-height: var(--line-height-preset-3);
        letter-spacing: var(--letter-spacing-preset-3);
        font-weight: bold;
    }
    .text-preset-4 {
        font-size: var(--font-size-preset-4);
        line-height: var(--line-height-preset-4);
        letter-spacing: var(--letter-spacing-preset-4);
        font-weight: normal;
    }
    .text-preset-5-bold {
        font-size: var(--font-size-preset-5-bold);
        line-height: var(--line-height-preset-5-bold);
        letter-spacing: var(--letter-spacing-preset-5-bold);
        font-weight: bold;
    }
    .text-preset-5 {
        font-size: var(--font-size-preset-5);
        line-height: var(--line-height-preset-5);
        letter-spacing: var(--letter-spacing-preset-5);
        font-weight: normal;
    }
    .text-preset-6 {
        font-size: var(--font-size-preset-6);
        /* line-height: var(--line-height-preset-6); */
        letter-spacing: var(--letter-spacing-preset-6);
        font-weight: bold;
    }
}

/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)
  
  */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

/* .bg-mobile {
  background-image: url("../assets/bg-main-mobile.png");
}

@media (min-width: 768px) {
  .bg-tablet {
    background-image: url("../assets/bg-main-tablet.png");
  }
}

@media (min-width: 1280px) {
  .bg-desktop {
    background-image: url("../assets/bg-main-desktop.png");
  }
} */

/*


Breakpoint prefix	Minimum width	CSS
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }
/*