@import 'tailwindcss';

:root {
    /* COLORS */
    --color-purple: #443383;
    --color-pink: #ea4c81;
}

@theme {
    --color-custom-purple: var(--color-purple);
    --color-custom-pink: var(--color-pink);
    --breakpoint-xs: 23.9375rem;
}

/* FONTS */

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('/public/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('/public/fonts/Raleway-Italic-VariableFont_wght.ttf')
        format('truetype');
    font-weight: 400;
    font-style: italic;
}

@layer utilities {
    .stroke-white {
        -webkit-text-stroke: 1px white; /* contour blanc */
        /* text-stroke removed: not supported */
    }
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* cards caroussel */
.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1220px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 25%;
    height: auto;
}

#activities-location li.active::after {
    width: 100%;
}
